
body {   
	   background-image: url("kra.jpg");
       font-family: "Papyrus", fantasy;
      
       
}

#header {
	height: 300px;
	width: 100%;

}

#site-title { 
       text-align: center;
       margin-top: 25px;
       margin-bottom: 35px;
       padding: 15px;
}





h1 {
	color: black;
	font-size: 48px;
	font-style: oblique;
	line-height: 58px;
	font-weight: bolder;

}


h2 {
	color: black;
    font-size: 38px;
    font-style: oblique;
    line-height: 28px;
    font-weight: bolder;

}

.nav {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: darkgray;
	font-size: 22px;
	line-height: 20px;
	color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 25px;
}




ul li {
	margin-left: 20px;
	margin-right: 10px;
 }


ul {
    position: fixed;
    top: 30%;
 }


li  {
	display: inline;
	float: left;
	text-align: center;
	padding: 10px; 
	
}


li a {
	color: #ffffff;
	text-align: center;
	padding: 10px 12px; 
	text-decoration: none;

}

#content {
	text-align: center;
	position: 75%;

	}


p {
    color: #e3e8ea;
    font-size: 26px;
    font-weight:bold;
    line-height: 46px;
   
}

.gallery {
    width: 1000px;
	margin: 0 auto;

}

.columnA, .columnB {
	width: 450px;
	float: left;
	padding: 10px;

}

img{
	box-sizing: border-box;
	width: 450px;
	height: 650px;
	padding: 25px;
	border: 1px gray solid;
	border-radius: 10px;

}

img.dana1 {
	padding: 25px;
	width: auto;
    height: auto;
    border: none;
}

img.lanscape{
	width: 450px;
    height: 450px;
    padding: 20px;

}

.clear {
	clear: both;
}




/*visited link*/
li a:visited  {
	color: #2697b1; 
}

/* mouse over link */
li a:hover {
	color: #2697b1;
}

/*in use link */
li a:active {
	color: #2697b1;
}



